services:
  api:
    build: ./api
    ports:
      - "4000:4000"

  public:
    build: ./public
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
