@import 'tailwindcss';


@theme {
    --animate-fadeOut: fadeOut 0.25s forwards;
    --animate-fadeIn: fadeIn 0.25s forwards;
    --animate-expand: expand 0.5s forwards ease-in;

    @keyframes fadeOut {
        100% {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        100% {
            opacity: 100;
        }
    }

    @keyframes expand {
        100% {
            transform: scale(15);
            opacity: 0;
        }
    }
}


body {
    background-color: #0D0D0D;
    user-select: none;
    color: white;
    font-family: Inconsolata;
}

body::after {
    content: "";
    background-image: url("./assets/film-grain.png");
    position: fixed;
    height: 200vh;
    width: 200vw;
    top: -50%;
    left: -50%;
    opacity: 0.02;
    animation: grain 8s steps(10) infinite;
    pointer-events: none;
}

@font-face {
    font-family: Inconsolata;
    src: url(./assets/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@keyframes grain {
    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 25%)
    }

    90% {
        transform: translate(-10%, 10%)
    }

    100% {
        transform: translate(0, 0)
    }
}
